body {
  background-color: rgba(192, 192, 192, 0.5);
}

h1 {
  font-family: "Major Mono Display" , monospace;
  color: mediumvioletred;
  margin: 35px;
}

.pink-friday {
  color: hotpink;
  font-family: "Style Script", cursive;
}

nav ul {
  list-style-type: none;
  text-align: center;
  position: fixed;
  z-index: 2;
  background-color: black;
  display: block;
  margin: auto;
  padding: 0;
  height: 35px;
  width: 100%;
  overflow: hidden;
}

nav li {
  display: inline;
}

nav li a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: hotpink;
  padding: 25px;
}

nav li a:hover {
  color: mediumvioletred;
  text-decoration: underline;
  text-decoration-color: darkviolet;
}

h2 {
  font-family: "Permanent Marker", monospace;
  color: #0a0a4e;
}

p, ol {
  font-family: "Playfair Display", serif;
  color: darkslateblue;
}

a {
  text-decoration: none;
  font-family: ;
  color: mediumvioletred;
}

a:hover {
  color: darkviolet;
  text-decoration: underline;
  text-decoration-color: darkviolet;
}

button {
  background-color: deeppink;
  border: 5px solid #421a64;
  margin: 15px;
  width: 25%;
  height: 35px;
  text-align: center;
}

.back-to-top {
  text-decoration: none;
  color: black;
  font-family: "Style Script", cursive;
}

.back-to-top:hover {
  color: darkmagenta;
  text-decoration: underline;
  text-decoration-color: darkturquoise;
}